*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  a {
    text-decoration: none;
  }
  body {
    width: 100%;
    height: 100vh;
    background-image: url('/images/fon_glav.png');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  ul {
    list-style: none;
  }
  .active {
    color: #ff0606;
    text-decoration: underline;
  }
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1px;
    color: rgb(10, 9, 9);
  }
  .nav-links {
    display: block;
    align-items: center;
    padding: 10px;
  }
  header .nav-links li a:hover{
    display: block;
  }
  .logo img {
    border: none;
    width: 60px;
    margin-left: 10px;
    position: absolute;
    top: 21px;
    left: 21px;
    display: flex;
  }
  .navbar .logo_name {
    margin-top: 70px;
    margin-left: 15px;
    font-family:'Courier New', Courier, monospace;
  }
  .navbar .logo_name:hover{
    color: #ff0606;
  }
  .nav-links li {
    margin: 0 20px;
    list-style: none;
    float: left;
  }
.header-content {
    margin-bottom: 150px;
    text-align: center;
}
.header-content h2 {
    font-size: 4vmin;
}
.line {
    width: 250px;
    height: 5px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1 {
    font-size: 10vmin;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ctn {
    padding: 1px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
  }
  header .navbar .nav-links li a{
    padding: 1px;
    color: #000;
    font-size: 14px;
    display: block;
    text-align: left;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
  }
  header .navbar .nav-links li a:hover{
    color: #fff;
  }
  .navbar .nav-links li ul {
    position: absolute;
    width: 100px;
    display: none;
    padding: 0;
    float: left;
  }
  .navbar .nav-links li ul li {
    width: 100%; 
  }
  .navbar .nav-links li ul li a{
    padding: 2px;
    color: #000;
    font-size: 14px;
    display: block;
  }
  .navbar .nav-links li:hover > ul {
    display: initial;
  }